<ion-header>
  
    <ion-navbar>
      <ion-title>Edit Store Info</ion-title>
    </ion-navbar>
  
  </ion-header>
  <ion-content padding>
    <form novalidate ng-submit="onSubmit()" [formGroup]="form">
      <ion-list>
        <ion-item [class.invalid]="!nameCtrl.valid && (nameCtrl.touched || submitAttempt)">
          <ion-label floating>Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item  color="danger" *ngIf="!nameCtrl.valid && (nameCtrl.touched || submitAttempt)">
          <p *ngIf="nameCtrl.hasError('required')" class="err">* ammount is rquired</p>
          <p *ngIf="nameCtrl.hasError('max')" class="err">*too much big ammount!</p>
        </ion-item>
        <ion-item [class.invalid]="!currencyCtrl.valid && (nameCtrl.touched || submitAttempt)">
          <ion-label floating>Currency</ion-label>
          <ion-input formControlName="currency" type="text"></ion-input>
        </ion-item>
        <ion-item  color="danger" *ngIf="!currencyCtrl.valid && (currencyCtrl.touched || submitAttempt)">
          <p *ngIf="currencyCtrl.hasError('required')" class="err">* ammount is rquired</p>
          <p *ngIf="currencyCtrl.hasError('max')" class="err">*too much big ammount!</p>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
  
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button type="button" ion-button full (click)="onCancel()" color="light">cancel</button>
        </ion-col>
        <ion-col>
          <button type="submit" ion-button full (click)="onSubmit(form)" color="primary"> save</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>