page-orders-list {
.accountName{
    font-weight: bold
}
.accounDetails{
    font-weight: 300;
    color: gray;
}
.noBottomPadding{
    padding-bottom: 0px;
}
.orderDate{
    font-size: .8em;
    font-weight: 300;
}
}
