<!-- Generated template for the TreeViewRowComponent component -->

  <ion-item [style.padding-right]="(depth * 20) + 'px'" [color]="isSelected() ? 'primary':''">
    <ion-icon class="node-icon" [name]="getIconName()" (click)="toggleExpand()"></ion-icon>
    <span (click)="onNodeClicked(node)" class="node-title">{{node.data.name}}</span>
  </ion-item>

  
<div>
  <tree-view-list *ngIf="hasSons() && node.ext.$isExpanded" [nodes]="node.ext.$sons" (nodeSelected)="onNodeClicked($event)"
    (nodeEditClicked)="onNodeEditClicked($event)" 
    [depth]="depth+1"
    [selectedId]="selectedId"
    >
  </tree-view-list>
</div>