<ion-split-pane>

  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <div *ngIf="autherised && hasActiveStore">
          <ion-item-divider color="light">Store</ion-item-divider>
          <button ion-item menuClose ion-item *ngFor="let p of storePages" (click)="openStorePage(p)">
            <ion-icon [name]="p.icon" item-start></ion-icon>
            {{p.title}}
          </button>

        </div>
        <div *ngIf="!autherised">
          <ion-item-divider color="light">User</ion-item-divider>
          <button menuClose ion-item *ngFor="let p of noUserPages" (click)="openUserPage(p)">
            <ion-icon [name]="p.icon" item-start></ion-icon>
            {{p.title}}
          </button>
        </div>
        <div *ngIf="autherised">
          <ion-item-divider color="light">User</ion-item-divider>
          <button menuClose ion-item *ngFor="let p of userPages" (click)="openUserPage(p)">
            <ion-icon [name]="p.icon" item-start></ion-icon>
            {{p.title}}
          </button>

        </div>

      </ion-list>
      <ion-item>
        <ion-label floating>zombiedOwnerId</ion-label>
        <ion-textarea [value]="zombiedOwnerId"></ion-textarea>
      </ion-item>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>