<!-- Generated template for the EditTransactionFormComponent component -->

<ion-content padding>
  <form novalidate ng-submit="onSubmit()" [formGroup]="form">
    <ion-list>
      <ion-item [class.invalid]="!ammountCtrl.valid && (ammountCtrl.touched || submitAttempt)">
        <ion-label floating>Ammount</ion-label>
        <ion-input formControlName="ammount" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="!ammountCtrl.valid && (ammountCtrl.touched || submitAttempt)">
        <p *ngIf="ammountCtrl.hasError('required')" class="err">* ammount is rquired</p>
        <p *ngIf="ammountCtrl.hasError('max')" class="err">*too much big ammount!</p>
      </ion-item>

      <ion-item>
        <ion-label floating>type</ion-label>
        <ion-input type="number" formControlName="type"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Date</ion-label>
        <ion-input type="date" formControlName="date"></ion-input>
      </ion-item>

      <ion-item>
        <trans-cat-picker
        [transCatsRoot]="transCatsRoot"
        [transCatsMap] = "transCatsMap"
        formControlName="catigoryId"></trans-cat-picker>
      </ion-item>
    </ion-list>

  </form>
</ion-content>


<ion-footer>
  <ion-grid>
    <ion-row>
      <!--  <ion-col *ngIf="accountCopy.$key"><button ion-button full (click)="remove()" color="danger">remove</button></ion-col> -->
      <ion-col>
        <button type="button" ion-button full (click)="onCancel()" color="light">cancel</button>
      </ion-col>
      <ion-col>
        <button type="submit" ion-button full (click)="onSubmit(form)" color="primary"> save</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>